body {
  background: white;
  padding-bottom: 8px;
  margin: 0;
}

.container{
  width: 980px;
  margin: 56px auto 20px; /* top right bottom left */
  text-align: left;
  box-shadow: 0 0 7px;
  padding: 14px 14px 14px 14px; /* top right bottom left */
  z-index: 1;
}

/* Profile */

.profile{
  max-width: 600px;
  overflow:hidden;
}

.profilepic{
  float:left;
  margin-right: 20px;
}

.profilepic img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profilecontent{
  float: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
}


/* Book page */

.bookcontainer{
  display:flex;
  flex-wrap: wrap;
}

.book{
  margin: 50px;
}

.book img{
  max-width: 294px;
  max-height: 425px;
  height: auto;
  width: auto;
}

.book p {
  margin: 0 0 4px 0; /* Remove top margin, keep small bottom margin */
  line-height: 1.3;  /* Optional: tighten line height for closer lines */
}

.book a {
  display: inline-block;
  margin-top: 0; /* Remove any extra margin above the link */
  text-decoration: underline;
}

.bookreview{
  margin: 20px;
  width: 980px;
}

